<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<h1>Articles</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
  </tr>
  </thead>
  <tbody>
  <% @user.articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= link_to "View", article %></td>
  </tr>
    <% end %>
  </tbody>
</table>

<h1>Comments</h1>
<table>
  <thead>
  <tr>
    <th>Message</th>
  </tr>
  </thead>
  <tbody>
  <% @user.comments.each do |comment| %>
    <tr>
      <td><%= comment.message %></td>
      <td><%= link_to "View", comment %></td>
    </tr>
  <% end %>
  </tbody>
</table>